<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title}} || Lockheart's Lair</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="color-scheme" content="light only"/>
    <meta name="theme-color" content="#52A435">
    
    <!--meta tags-->
    <meta name="description" content="{{ description }}"/>
    <meta property="og:site_name" content="Lockheart Love"/>
    <meta property="og:title" content="{{ title}} || Lockheart's Lair"/>
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:image" content="https://i.imgur.com/SewwaVX.png"/>
    <meta property="og:image:height" content="800"/>
    <meta property="og:url" content="https://mc.lockheart.love/blog/{{ name }}"/>
    
    <!--and the bird app bc they just have to be special-->
    <meta name="twitter:title" content="{{ title}} || Lockheart's Lair" />
    <meta name="twitter:image" content="https://i.imgur.com/SewwaVX.png">
    <meta name="twitter:description" content="{{ description }}">
    <meta property="twitter:card" content="summary_large_image"/>
    
    <link rel="canonical" href="https://mc.lockheart.love/blog/{{ name }}"/>
    <link rel="icon" type="image/x-icon" href="/img/icon.png">
    <link rel="stylesheet" type="text/css" href="/styles/blog.css">
    {{ css | safe }}
    <script src='/javascript/kofi.js'></script>
    {{ js | safe }}
</head>
<body>
    <br><br><br><br>
    <div id="container">
        <div id="nav" class="content">
            {% include 'nav.njk' %}
            <hr>
            <ul id="big">
                <li><a href="2025-05-20">May 20, 2025</a></li>
                <li><a href="2025-05-19">May 19, 2025</a></li>
                <li><a href="2025-05-18">May 18, 2025</a></li>
                <li><a href="2025-05-17">May 17, 2025</a></li>
                <li><a href="2025-05-16">May 16, 2025</a></li>
                <li><a href="2025-05-15">May 15, 2025</a></li>
            </ul>
            <details id="little">
                <summary>Entries</summary>
                <ul>
                    <li><a href="2025-05-20">May 20, 2025</a></li>
                    <li><a href="2025-05-19">May 19, 2025</a></li>
                    <li><a href="2025-05-18">May 18, 2025</a></li>
                    <li><a href="2025-05-17">May 17, 2025</a></li>
                    <li><a href="2025-05-16">May 16, 2025</a></li>
                    <li><a href="2025-05-15">May 15, 2025</a></li>
                </ul>
            </details>
        </div>
        <div class="content">
{{ content | safe }}
        </div>
    </div>
    <br><br>
    <div id="btns">
        <a href="/"><button>Home</button></a>
    </div>
    <script>
        kofiWidgetOverlay.draw('baileylockheart', {
            'type': 'floating-chat',
            'floating-chat.donateButton.background-color': '#C6C6C6',
            'floating-chat.donateButton.text-color': '#000'
        });
    </script>
</body>
</html>