<a id="blog" href="/blog/"><h2>Blog</h2></a>
<a id="gallery" href="/gallery"><h2>Gallery</h2></a>
<a id="shop" href="/shop/"><h2>Shop</h2></a>
<a id="recs" href="/recs"><h2>Recs</h2></a>
<a id="links" href="/links"><h2>Links</h2></a>