<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title}} || Lockheart's Lair</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="color-scheme" content="light only"/>
    <meta name="theme-color" content="#ff8ac5">
    
    <!--meta tags-->
    <meta name="description" content="{{ description }}"/>
    <meta property="og:site_name" content="Lockheart Love"/>
    <meta property="og:title" content="{{ title}} || Lockheart's Lair"/>
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:image" content="https://i.imgur.com/SewwaVX.png"/>
    <meta property="og:image:height" content="800"/>
    <meta property="og:url" content="https://mc.lockheart.love/{{ name }}"/>
    
    <!--and the bird app bc they just have to be special-->
    <meta name="twitter:title" content="{{ title}} || Lockheart's Lair" />
    <meta name="twitter:image" content="https://i.imgur.com/SewwaVX.png">
    <meta name="twitter:description" content="{{ description }}">
    <meta property="twitter:card" content="summary_large_image"/>
    
    <link rel="canonical" href="https://mc.lockheart.love/{{ name }}"/>
    <link rel="icon" type="image/x-icon" href="/img/icon.png">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    {{ css | safe }}
    {{ js | safe }}
    <div id="preloader"></div>
</head>
<body>
    <div id="container">
        <div id="content">
            <a href="/"><h1>&nbsp;Lockheart Love &#9825;</h1></a>
            <div id="nav"><script src="/javascript/navbar.js"></script></div>
            <div class="textbox">
{{ content | safe }}
            </div>
            <footer>
                <p>&#9825;&nbsp;&nbsp;<a href="https://neocities.org/site/lockheartlove" target="_blank" style="text-decoration: none;">Follow the Site</a>&nbsp;&nbsp;&#9825;</p>
            </footer>
        </div>
    </div>
    <script>
        var loader = document.getElementById("preloader");
        window.addEventListener("load", function () {
          loader.style.display = "none";
        });
    </script>
</body>
</html>