@font-face {
    font-family: Minecraft;
    src: url("/fonts/Minecraft-Seven_v2.ttf");
}
.floatingchat-donate-button {
    background-color: #C6C6C6;
    border:outset 2px grey;
    height: 46px;
    display: flex;
    align-items: center;
    font-family: "Minecraft", serif !important;
    font-size: 19px;
    font-weight: 500 !important;
    width: max-content;
    color: black;
    justify-content: space-between;
    padding: 0 15px 0 10px;
    font-weight: bold;
    cursor: pointer;
    display: flex !important;
}
.kofiimg { 
    width: 35px;
    padding-left: 16px;
}

/*the dreaded sizing*/
@media only screen and (max-device-width: 770px) {
    #kofibtn {
        display:none
    }
}